Parking_Node-red.json
[
    {
        "id": "2efab49c.da493c",
        "type": "tab",
        "label": "US_LPN",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e371d65.f544f4",
        "type": "debug",
        "z": "2efab49c.da493c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 260,
        "wires": []
    },
    {
        "id": "a7b1fce8.b2b1b",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "if(msg.payload <= 10){\n    msg.payload = 0;\n\n    return msg;\n}\nif(msg.payload >10){\n    msg.payload = 1\n\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [
            [
                "de7633e6.98546",
                "5ed0143d.a9c34c"
            ]
        ]
    },
    {
        "id": "8afcbcc7.69568",
        "type": "inject",
        "z": "2efab49c.da493c",
        "name": "Ultrasonic Sensor1__Detected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "a7b1fce8.b2b1b"
            ]
        ]
    },
    {
        "id": "de7633e6.98546",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car1_Status",
        "firebaseconfig": "",
        "childpath": "Cars/Car1/Status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 490,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "afdcdb36.3e1a18",
        "type": "e-mail",
        "z": "2efab49c.da493c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "unigecs202021@gmail.com",
        "dname": "Email",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "ce4b2700.59d1a8",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "\n\nmsg.payload = msg.LPN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 220,
        "wires": [
            [
                "4e371d65.f544f4",
                "afdcdb36.3e1a18"
            ]
        ]
    },
    {
        "id": "48e9ee53.b35b4",
        "type": "inject",
        "z": "2efab49c.da493c",
        "name": "Ultrasonic Sensor1__Undetected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "a7b1fce8.b2b1b"
            ]
        ]
    },
    {
        "id": "5ed0143d.a9c34c",
        "type": "switch",
        "z": "2efab49c.da493c",
        "name": "CameraControl",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "35e7ecda.e74794"
            ],
            [
                "3b45f336.51db0c"
            ]
        ]
    },
    {
        "id": "dd30372.548e6c8",
        "type": "plate-recognizer",
        "z": "2efab49c.da493c",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": false,
        "makeAndModel": false,
        "statusText": "count",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "",
        "regionListType": "json",
        "x": 900,
        "y": 160,
        "wires": [
            [
                "1849886b.ea4e28"
            ],
            []
        ]
    },
    {
        "id": "553a540d.1d9b2c",
        "type": "debug",
        "z": "2efab49c.da493c",
        "name": "License plate Number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 360,
        "wires": []
    },
    {
        "id": "35e7ecda.e74794",
        "type": "ONVIF Snapshot",
        "z": "2efab49c.da493c",
        "name": "IP Webcam",
        "url": "http://192.168.1.101:8080/onvif/device_service",
        "username": "",
        "password": "",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "cfd8a55e.3a8328"
            ]
        ]
    },
    {
        "id": "cfd8a55e.3a8328",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "Base64_Convertor",
        "func": "msg.payload = msg.payload.image.base64\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "dd30372.548e6c8",
                "e2107030.7c78c"
            ]
        ]
    },
    {
        "id": "e2107030.7c78c",
        "type": "image",
        "z": "2efab49c.da493c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "1849886b.ea4e28",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "LPN_Parsed",
        "func": "msg.payload = msg.payload.results[0].plate.toUpperCase()\n\nvar date = new Date();\ndate = String(date)\ndate = date.slice(0,-31)\nmsg.LPN = \"Car number \" + msg.payload +\" Parked at Slot-1 at \" + date \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "553a540d.1d9b2c",
                "557c675e.f647e8",
                "ce4b2700.59d1a8"
            ]
        ]
    },
    {
        "id": "557c675e.f647e8",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car1_LPN",
        "firebaseconfig": "",
        "childpath": "Cars/Car1/LPN",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1230,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "eb2eaab1.f60698",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car1_LPN",
        "firebaseconfig": "",
        "childpath": "Cars/Car1/LPN",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1050,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3b45f336.51db0c",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "msg.payload = \"\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "eb2eaab1.f60698",
                "7c4ddd79.598e84"
            ]
        ]
    },
    {
        "id": "eb29db17.a6ff98",
        "type": "e-mail",
        "z": "2efab49c.da493c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "unigecs202021@gmail.com",
        "dname": "Email",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c4ddd79.598e84",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "Email_Function",
        "func": "// if(msg.payload == 0){\n//     var date = new Date();\n//     msg.payload = \"Car parked at slot 1 at \" + date\n// }\n// else{\n//     msg.payload = \"No Car in Slot 1\"\n// }\n\nmsg.payload = \"No car Parked at Slot-1\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "eb29db17.a6ff98"
            ]
        ]
    },
    {
        "id": "2a4e2a3b.d625f6",
        "type": "debug",
        "z": "2efab49c.da493c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 640,
        "wires": []
    },
    {
        "id": "ae4094d2.bc1ac8",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "if(msg.payload <= 10){\n    msg.payload = 0;\n\n    return msg;\n}\nif(msg.payload >10){\n    msg.payload = 1\n\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "8c3fb3d0.cf7b9",
                "dbb9f7ad.8c7fe8"
            ]
        ]
    },
    {
        "id": "ca52c89c.ee15e8",
        "type": "inject",
        "z": "2efab49c.da493c",
        "name": "Ultrasonic Sensor2__Detected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "ae4094d2.bc1ac8"
            ]
        ]
    },
    {
        "id": "8c3fb3d0.cf7b9",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car2_Status",
        "firebaseconfig": "",
        "childpath": "Cars/Car2/Status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 490,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "81c1918f.d7d21",
        "type": "e-mail",
        "z": "2efab49c.da493c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "unigecs202021@gmail.com",
        "dname": "Email",
        "x": 1350,
        "y": 560,
        "wires": []
    },
    {
        "id": "60a3e2db.5ae8cc",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "\nmsg.payload = msg.LPN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 600,
        "wires": [
            [
                "2a4e2a3b.d625f6",
                "81c1918f.d7d21"
            ]
        ]
    },
    {
        "id": "6dae0f1a.2a6bb",
        "type": "inject",
        "z": "2efab49c.da493c",
        "name": "Ultrasonic Sensor2__Undetected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "ae4094d2.bc1ac8"
            ]
        ]
    },
    {
        "id": "dbb9f7ad.8c7fe8",
        "type": "switch",
        "z": "2efab49c.da493c",
        "name": "CameraControl",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "98e6ca7d.a1ba38"
            ],
            [
                "bf1c6b52.e30018"
            ]
        ]
    },
    {
        "id": "3a96af19.c7827",
        "type": "plate-recognizer",
        "z": "2efab49c.da493c",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": false,
        "makeAndModel": false,
        "statusText": "count",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "",
        "regionListType": "json",
        "x": 900,
        "y": 540,
        "wires": [
            [
                "8e3e9b60.aea968"
            ],
            []
        ]
    },
    {
        "id": "9ced66fb.e7b038",
        "type": "debug",
        "z": "2efab49c.da493c",
        "name": "License plate Number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 740,
        "wires": []
    },
    {
        "id": "98e6ca7d.a1ba38",
        "type": "ONVIF Snapshot",
        "z": "2efab49c.da493c",
        "name": "IP Webcam",
        "url": "http://192.168.1.101:8080/onvif/device_service",
        "username": "",
        "password": "",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "72a140ed.e33b5"
            ]
        ]
    },
    {
        "id": "72a140ed.e33b5",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "Base64_Convertor",
        "func": "msg.payload = msg.payload.image.base64\nmsg.time = new Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 600,
        "wires": [
            [
                "3a96af19.c7827",
                "b2b602b2.31443"
            ]
        ]
    },
    {
        "id": "b2b602b2.31443",
        "type": "image",
        "z": "2efab49c.da493c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "8e3e9b60.aea968",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "LPN_Parsed",
        "func": "msg.payload = msg.payload.results[0].plate.toUpperCase()\n\nvar date = new Date();\ndate = String(date)\ndate = date.slice(0,-31)\nmsg.LPN = \"Car number \" + msg.payload +\" Parked at Slot-2 at \" + date \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "9ced66fb.e7b038",
                "52653b12.64cf04",
                "60a3e2db.5ae8cc"
            ]
        ]
    },
    {
        "id": "52653b12.64cf04",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car2_LPN",
        "firebaseconfig": "",
        "childpath": "Cars/Car2/LPN",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1230,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "44285531.a30e9c",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car2_LPN",
        "firebaseconfig": "",
        "childpath": "Cars/Car2/LPN",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 910,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "bf1c6b52.e30018",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "msg.payload = \"\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 640,
        "wires": [
            [
                "44285531.a30e9c",
                "8613d1ed.a8c57"
            ]
        ]
    },
    {
        "id": "cf98ee69.89c28",
        "type": "e-mail",
        "z": "2efab49c.da493c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "unigecs202021@gmail.com",
        "dname": "Email",
        "x": 610,
        "y": 720,
        "wires": []
    },
    {
        "id": "8613d1ed.a8c57",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "Email_Function",
        "func": "// if(msg.payload == 0){\n//     var date = new Date();\n//     msg.payload = \"Car parked at slot 1 at \" + date\n// }\n// else{\n//     msg.payload = \"No Car in Slot 1\"\n// }\n\nmsg.payload = \"No car Parked at Slot-2\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 720,
        "wires": [
            [
                "cf98ee69.89c28"
            ]
        ]
    },
    {
        "id": "7f98073c.7ca738",
        "type": "debug",
        "z": "2efab49c.da493c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 1040,
        "wires": []
    },
    {
        "id": "45546cbe.2e67f4",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "if(msg.payload <= 10){\n    msg.payload = 0;\n    return msg;\n}\nif(msg.payload >10){\n    msg.payload = 1\n\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 900,
        "wires": [
            [
                "6e6134af.4822fc",
                "30e3ae01.114042"
            ]
        ]
    },
    {
        "id": "7c6e068d.c872e8",
        "type": "inject",
        "z": "2efab49c.da493c",
        "name": "Ultrasonic Sensor3__Detected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "45546cbe.2e67f4"
            ]
        ]
    },
    {
        "id": "6e6134af.4822fc",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car3_Status",
        "firebaseconfig": "",
        "childpath": "Cars/Car3/Status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 490,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "9eb6038.becab",
        "type": "e-mail",
        "z": "2efab49c.da493c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "unigecs202021@gmail.com",
        "dname": "Email",
        "x": 1350,
        "y": 960,
        "wires": []
    },
    {
        "id": "874ac5c1.f9fa68",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "\nmsg.payload = msg.LPN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1000,
        "wires": [
            [
                "7f98073c.7ca738",
                "9eb6038.becab"
            ]
        ]
    },
    {
        "id": "b7886272.9b798",
        "type": "inject",
        "z": "2efab49c.da493c",
        "name": "Ultrasonic Sensor3__Undetected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "45546cbe.2e67f4"
            ]
        ]
    },
    {
        "id": "30e3ae01.114042",
        "type": "switch",
        "z": "2efab49c.da493c",
        "name": "CameraControl",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 980,
        "wires": [
            [
                "7006192.2d9c7e8"
            ],
            [
                "fe030571.f58568"
            ]
        ]
    },
    {
        "id": "7a5759fa.ff5508",
        "type": "plate-recognizer",
        "z": "2efab49c.da493c",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": false,
        "makeAndModel": false,
        "statusText": "count",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "",
        "regionListType": "json",
        "x": 900,
        "y": 940,
        "wires": [
            [
                "c54344dd.cd5988"
            ],
            []
        ]
    },
    {
        "id": "b5cd11ff.3db97",
        "type": "debug",
        "z": "2efab49c.da493c",
        "name": "License plate Number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7006192.2d9c7e8",
        "type": "ONVIF Snapshot",
        "z": "2efab49c.da493c",
        "name": "IP Webcam",
        "url": "http://192.168.1.101:8080/onvif/device_service",
        "username": "",
        "password": "",
        "x": 630,
        "y": 920,
        "wires": [
            [
                "a7102a2c.12f618"
            ]
        ]
    },
    {
        "id": "a7102a2c.12f618",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "Base64_Convertor",
        "func": "msg.payload = msg.payload.image.base64\nmsg.time = new Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1000,
        "wires": [
            [
                "7a5759fa.ff5508",
                "c9a755a.08430a8"
            ]
        ]
    },
    {
        "id": "c9a755a.08430a8",
        "type": "image",
        "z": "2efab49c.da493c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 900,
        "y": 1060,
        "wires": []
    },
    {
        "id": "c54344dd.cd5988",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "LPN_Parsed",
        "func": "msg.payload = msg.payload.results[0].plate.toUpperCase()\n\nvar date = new Date();\ndate = String(date)\ndate = date.slice(0,-31)\nmsg.LPN = \"Car number \" + msg.payload +\" Parked at Slot-3 at \" + date \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1000,
        "wires": [
            [
                "b5cd11ff.3db97",
                "529fcb37.3a9d04",
                "874ac5c1.f9fa68"
            ]
        ]
    },
    {
        "id": "529fcb37.3a9d04",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car3_LPN",
        "firebaseconfig": "",
        "childpath": "Cars/Car3/LPN",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1230,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "14652908.5f74f7",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car3_LPN",
        "firebaseconfig": "",
        "childpath": "Cars/Car3/LPN",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 890,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "fe030571.f58568",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "msg.payload = \"\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1040,
        "wires": [
            [
                "14652908.5f74f7",
                "acad24d.90d39d8"
            ]
        ]
    },
    {
        "id": "d2840e71.f22a",
        "type": "e-mail",
        "z": "2efab49c.da493c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "unigecs202021@gmail.com",
        "dname": "Email",
        "x": 610,
        "y": 1120,
        "wires": []
    },
    {
        "id": "acad24d.90d39d8",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "Email_Function",
        "func": "// if(msg.payload == 0){\n//     var date = new Date();\n//     msg.payload = \"Car parked at slot 1 at \" + date\n// }\n// else{\n//     msg.payload = \"No Car in Slot 1\"\n// }\n\nmsg.payload = \"No car Parked at Slot-3\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1120,
        "wires": [
            [
                "d2840e71.f22a"
            ]
        ]
    },
    {
        "id": "e137ec2b.67a8c",
        "type": "debug",
        "z": "2efab49c.da493c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 1460,
        "wires": []
    },
    {
        "id": "25592475.4a8e0c",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "if(msg.payload <= 10){\n    msg.payload = 0;\n    return msg;\n}\nif(msg.payload >10){\n    msg.payload = 1\n\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1320,
        "wires": [
            [
                "288290f5.2d8ec",
                "d45a5cb7.0b767"
            ]
        ]
    },
    {
        "id": "77f09567.c48d6c",
        "type": "inject",
        "z": "2efab49c.da493c",
        "name": "Ultrasonic Sensor4__Detected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "25592475.4a8e0c"
            ]
        ]
    },
    {
        "id": "288290f5.2d8ec",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car4_Status",
        "firebaseconfig": "",
        "childpath": "Cars/Car4/Status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 490,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "9ff50781.6e6638",
        "type": "e-mail",
        "z": "2efab49c.da493c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "unigecs202021@gmail.com",
        "dname": "Email",
        "x": 1350,
        "y": 1380,
        "wires": []
    },
    {
        "id": "141b7347.c563dd",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "\nmsg.payload = msg.LPN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1420,
        "wires": [
            [
                "e137ec2b.67a8c",
                "9ff50781.6e6638"
            ]
        ]
    },
    {
        "id": "9b2e8021.e633a",
        "type": "inject",
        "z": "2efab49c.da493c",
        "name": "Ultrasonic Sensor4__Undetected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 150,
        "y": 1380,
        "wires": [
            [
                "25592475.4a8e0c"
            ]
        ]
    },
    {
        "id": "d45a5cb7.0b767",
        "type": "switch",
        "z": "2efab49c.da493c",
        "name": "CameraControl",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 1400,
        "wires": [
            [
                "65095a07.c6b664"
            ],
            [
                "d71013d.f24eef"
            ]
        ]
    },
    {
        "id": "b259effa.a7cfd",
        "type": "plate-recognizer",
        "z": "2efab49c.da493c",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": false,
        "makeAndModel": false,
        "statusText": "count",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "",
        "regionListType": "json",
        "x": 900,
        "y": 1360,
        "wires": [
            [
                "b4a749.716328b8"
            ],
            []
        ]
    },
    {
        "id": "d4c55965.b8eca8",
        "type": "debug",
        "z": "2efab49c.da493c",
        "name": "License plate Number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 1560,
        "wires": []
    },
    {
        "id": "65095a07.c6b664",
        "type": "ONVIF Snapshot",
        "z": "2efab49c.da493c",
        "name": "IP Webcam",
        "url": "http://192.168.1.101:8080/onvif/device_service",
        "username": "",
        "password": "",
        "x": 630,
        "y": 1340,
        "wires": [
            [
                "15805149.82954f"
            ]
        ]
    },
    {
        "id": "15805149.82954f",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "Base64_Convertor",
        "func": "msg.payload = msg.payload.image.base64\nmsg.time = new Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1420,
        "wires": [
            [
                "b259effa.a7cfd",
                "b10daf83.582b6"
            ]
        ]
    },
    {
        "id": "b10daf83.582b6",
        "type": "image",
        "z": "2efab49c.da493c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 900,
        "y": 1480,
        "wires": []
    },
    {
        "id": "b4a749.716328b8",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "LPN_Parsed",
        "func": "msg.payload = msg.payload.results[0].plate.toUpperCase()\n\nvar date = new Date();\ndate = String(date)\ndate = date.slice(0,-31)\nmsg.LPN = \"Car number \" + msg.payload +\" Parked at Slot-4 at \" + date \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1420,
        "wires": [
            [
                "d4c55965.b8eca8",
                "831a5665.c2f288",
                "141b7347.c563dd"
            ]
        ]
    },
    {
        "id": "831a5665.c2f288",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car4_LPN",
        "firebaseconfig": "",
        "childpath": "Cars/Car4/LPN",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1230,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "1014c128.64cf2f",
        "type": "firebase modify",
        "z": "2efab49c.da493c",
        "name": "Car4_LPN",
        "firebaseconfig": "",
        "childpath": "Cars/Car4/LPN",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 890,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "d71013d.f24eef",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "",
        "func": "msg.payload = \"\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1460,
        "wires": [
            [
                "1014c128.64cf2f",
                "9a213d16.151b6"
            ]
        ]
    },
    {
        "id": "1d87aa02.a741a6",
        "type": "e-mail",
        "z": "2efab49c.da493c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "unigecs202021@gmail.com",
        "dname": "Email",
        "x": 610,
        "y": 1540,
        "wires": []
    },
    {
        "id": "9a213d16.151b6",
        "type": "function",
        "z": "2efab49c.da493c",
        "name": "Email_Function",
        "func": "// if(msg.payload == 0){\n//     var date = new Date();\n//     msg.payload = \"Car parked at slot 1 at \" + date\n// }\n// else{\n//     msg.payload = \"No Car in Slot 1\"\n// }\n\nmsg.payload = \"No car Parked at Slot-4\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1540,
        "wires": [
            [
                "1d87aa02.a741a6"
            ]
        ]
    }
]